/* Empty. Add your own CSS if you like */

.map {
    background-image: url('../img/kantoche.png');
    background-position: 0px 8px;
    background-repeat: no-repeat;
    background-size: 100% auto;
    height: 971px;
    overflow: scroll;
    width: 949px;
    z-index: 1;
}

.locations {
    position: absolute;
    height: 100%;
    left: 0px;
    top: 0px;
    width: 100%;
    z-index: 9;
}

.location {
    position: absolute;
    font-size: 9px;
    word-wrap: normal;
    z-index: 9;
}

.location-background {
    background-image: url('../img/red-pin.png');
    background-position: 50% 0;
    background-repeat: no-repeat;
    background-size: 34px 34px;
    height: 100%;
    min-width: 34px;
    padding-top: 34px;
    text-align: center;
}

.location-label {
    color: #FF0000;
    font-size: 11px;
    font-weight: bold;
}

.self {
    display: inline-block;
    align-content: center;
    font-size: 9px;
    position: absolute;
    text-align: center;
    word-wrap: normal;
    z-index: 9;
}

.self-background {
    background-image: url('../img/green-pin.png');
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: 34px 34px;
    height: 100%;
    min-width: 34px;
    padding-top: 34px;
    text-align: center;
}

.self-label {
    color: #000000;
    font-size: 11px;
    font-weight: bold;
}

.refresh {
    border-radius: 23px;
    background-color: #387ef5;
    position: fixed;
    height: 46px;
    left: 80%;
    top: 80%;
    width: 46px;
    text-align: center;
}

.refresh a {
    color: #ffffff !important;
}

.debug-panel {
    background-color: #c2c2c2;
    position: fixed;
    height: 26px;
    left: 2%;
    top: 88%;
    width: 246px;
    text-align: center;
}

.debug-label {
    color: #000;
    font-size: 9px;
}